In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/SMS-Spam-Detection/master/spam.csv", encoding= 'latin-1')
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.info

<bound method DataFrame.info of      class                                            message Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ÃŒ_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]>

In [5]:
data.shape

(5572, 5)

In [6]:
data.describe()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [7]:
duplicatedRow = data[data.duplicated()]
print(duplicatedRow[:5])

    class                                            message Unnamed: 2  \
102   ham  As per your request 'Melle Melle (Oru Minnamin...        NaN
153   ham  As per your request 'Melle Melle (Oru Minnamin...        NaN
206   ham  As I entered my cabin my PA said, '' Happy B'd...        NaN
222   ham                             Sorry, I'll call later        NaN
325   ham                   No calls..messages..missed calls        NaN

    Unnamed: 3 Unnamed: 4
102        NaN        NaN
153        NaN        NaN
206        NaN        NaN
222        NaN        NaN
325        NaN        NaN

In [8]:
data.groupby('class').describe().T

class                                                            ham  \
message    count                                                4825
           unique                                               4516
           top                                Sorry, I'll call later
           freq                                                   30
Unnamed: 2 count                                                  45
           unique                                                 39
           top      bt not his girlfrnd... G o o d n i g h t . . .@"
           freq                                                    3
Unnamed: 3 count                                                  10
           unique                                                  9
           top                                                    GE
           freq                                                    2
Unnamed: 4 count                                                   6
           unique                                                  5
           top                                               GNT:-)"
           freq                                                    2

class                                                           spam
message    count                                                 747
           unique                                                653
           top     Please call our customer service representativ...
           freq                                                    4
Unnamed: 2 count                                                   5
           unique                                                  4
           top                                           PO Box 5249
           freq                                                    2
Unnamed: 3 count                                                   2
           unique                                                  1
           top                                  MK17 92H. 450Ppw 16"
           freq                                                    2
Unnamed: 4 count                                                   0
           unique                                                  0
           top                                                   NaN
           freq                                                  NaN

In [10]:
x = np.array(data["message"])
y = np.array(data["class"])
cv = CountVectorizer()
X = cv.fit_transform(x) # Fit the Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

clf = MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB()

In [12]:
sample = input('Enter a message:')
data = cv.transform([sample]).toarray()
print(clf.predict(data))

Enter a message:
  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }Free entry in 2 a wkly comp
['spam']